table{
    width: 80%;
    margin:0 auto;
    margin-top: 1rem;

}

th.mat-sort-header-sorted{
    color: black;
}

.table-button-row button{
    margin: 12px;
}

#paginator-contact{
    width: 80%;
    margin-left: 10%;
}