<hr>
<!-- Footer -->
<footer class="text-white" style="background-color: #0a4275;">

    <div class="container p-4">

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <img src="./../../../assets/logo_ayuntamiento.png" alt="logo_ayuntamiento" width="100%">
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h2>DIRECCIÓN</h2>
            <span class="text-justify">Juan N. Álvarez S/N Colonia Centro C.P 41060, Copalillo, Guerrero.</span><hr class="bg-white">

            <span>TELÉFONO</span>
            <p>+52 727 106 6359</p>

            <span>CORREO</span>
            <p>presidencia2018-201@gmail.com</p>

            <span>SITIO WEB</span>
            <p><a class="text-white" routerLink="/">www.copalillo-municipio.xyz</a></p>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h2 class="text-uppercase">explora</h2>
            
            <a class="text-white" routerLink="/">Inicio</a><hr class="bg-white">

            <a class="text-white" routerLink="/noticias">Sala de prensa</a><hr class="bg-white">
              
            <a class="text-white" routerLink="/tramites">Trámites y Servicios</a><hr class="bg-white">
              
              
            <a class="text-white" routerLink="/login">Iniciar Sesión</a>

          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <span>H. Ayuntamiento de Copalillo</span>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->