.login-form{
    padding: 4rem 1rem;
}
.login-form mat-card{
 max-width: 300px;
 margin: 2rem auto;
 text-align: center;
 height: 350px;
}

.login-form .full-width-input button{
    width: 100%;
}

.login-form button{
    width: 100%;
}

.login-form .separator{
    margin-bottom: 2rem;
}

#logo-ayuntamiento{
    width: 200px;
    padding-bottom: 1rem;
}